@import "../../../../scss/variables";

.title{ 
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: $secondary ;
    font-size: 20px;
    span{
        color:$primary;
    }
}
.profile{
    float:right;
    align-items: middle;
    text-align: right;
    img{
        border-radius: 50%;
        width: 2rem;
    }
}
.cerrarSesion{
    font-size: 12px;
    margin-right: 1rem;
    text-decoration: none;
    color:$primary;
    cursor: pointer;
}