<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);" [routerLink]="'/home'">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Canciones</li>
  </ol>
</nav>
<div class="row justify-content-center align-items-center mb-3">
  <button class="col-lg-2 text-light btn btn-primary mx-1" (click)="cambiarInfo('short_term')">Short term</button>
  <button class="col-lg-2 text-light btn btn-primary mx-1" (click)="cambiarInfo('medium_term')">Medium term</button>
  <button class="col-lg-2 text-light btn btn-primary mx-1" (click)="cambiarInfo('long_term')">Long term</button>
</div>
<div class="row">
  <ng-container *ngFor="let item of canciones"> 
    <app-skeleton-card-tracks class="col-lg-4 col-md-6 col-sm-12 my-2" *ngIf="!existe"></app-skeleton-card-tracks>
    <app-card-track *ngIf="existe" class="col-lg-4 col-md-6 col-sm-12 my-2" [title]="item.name" [artists]="item.artists[0].name"
      [linkSong]="item.external_urls.spotify" [img]="item.album.images[0].url"></app-card-track>
  </ng-container>
</div>
