 <div class="row"> 
   <ng-container *ngFor="let block of arrayBlocks">
     <app-dashboard-block class="col-lg col-md" [title]="block.title" [img]="block.imagePath"
       [description]="block.description" [link]="block.link">
     </app-dashboard-block>
   </ng-container>
   <div class="row d-flex justify-content-center">
    <app-dashboard-block class="col-lg-4 col-md-4  mt-3" [title]="'Buscar canción'" [description]="'Busca canciones'" [link]="'/busqueda'"></app-dashboard-block>
   </div>
 </div>
