<div class="card px-2 py-2">
  <div class="img">
    <img src="{{img}}" class="img-album" alt="imagen de la playlist" />
  </div>
  <!-- <div class="bg-primary item d-flex flex-column justify-content-center align-items-center ">
    184
  </div> -->
  <div class="info-box py-2">
    <div class="title">
      {{title}}
    </div>
    <span class="circle-number badge rounded-pill text-bg-primary mt-2"><i class="bi bi-spotify"></i> <a
        href="{{linkPlaylist}}" target="_blank"> Escuchar en
        Spotify </a></span>
  </div>
</div>
