<div class="card py-3 px-2">
  <div class="row d-flex justify-content-between">
    <div class="info-box d-flex flex-column justify-content-center col-lg-8 col-md-6 col-sm-6 col-xs-6">
        <div class="title">
            {{title}}
        </div>
        <div class="artist">
            {{artists}}
        </div>
    </div>
    <div class="img col-lg-4 col-md-6 col-sm-6 col-xs-6">
      <img src="{{img}}" class="img-album" alt="imagen del album" /> 
      <div class="img__description_layer">
        <i class="img__description bi bi-play-fill"></i>
      </div>
    </div>
  </div>
</div>
